- provide :title, 'All Sites'

%h1 Sites

%table.table.table-bordered.table-hover
  - if @sites.any?
    %thead
      %tr
        %th Site Name
        %th Site URL
        %th Errors
    %tbody
      - @sites.each do |site|
        - if site.crawling_errors.count > 0
          %tr.danger
            = render 'sites/site_table', site: site
        - else
          %tr
            = render 'sites/site_table', site: site
  - else
    There are no sites,
    = link_to 'add a new site here.', new_site_path
